*.pyc
.idea/*
__pycache__/*
models/*
results/*
todo/*
experiments/*
notebooks/.ipynb*
.ipynb_checkpoints/*
.vscode
cat
.env
.spyproject/*
log.txt
prisme.egg*

workspaces/*/outputs/*
workspaces/*/data/*.h5
workspaces/*/temp_workspace/*
workspaces/*/terraform/.terraform/*
workspaces/*/terraform/terraform.tfstate
workspaces/*/terraform/terraform.tfstate.backup
workspaces/*/terraform/variables.tf
workspaces/*/terraform/security.tf
workspaces/*/terraform/hyperparameter_queue.tf
workspaces/*/terraform/worker.tf